<div id="container"></div>
<hr>
<button (click)="IfLogged()" class="btn btn-primary">留言</button>
<button (click)="goBackToList()" class="btn btn-info">返回文章列表</button>


<form *ngIf = "isLogged" class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">请输入留言</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button (click)="closeComment()" type="reset" class="btn btn-default">取消</button>
        <button (click)="onSubmitComment()" class="btn btn-primary" >提交</button>
      </div>
    </div>
  </fieldset>
</form>